<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>breadboard</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <link href="/css/regular.min.css" rel="stylesheet">
    <link href="/css/brands.min.css" rel="stylesheet">
    <link href="./clusterize.css" rel="stylesheet" />
    <link href="./tagger.css" rel="stylesheet" />
    <link href="./select.css" rel="stylesheet" />
    <link href="./viewer.css" rel="stylesheet" />
    <link href="./global.css" rel="stylesheet" />
  </head>
  <body>
    <div id='bar'></div>
    <nav class="<%=platform%>">
      <a class='btn' href="/" class='btn'><i class="fa-solid fa-house"></i></a>
      <button id='prev'><i class="fa-solid fa-chevron-left"></i></button>
      <button id='next'><i class="fa-solid fa-chevron-right"></i></button>
      <a class='btn' href="/favorites"><i class="fa-solid fa-star"></i></a>
      <button id="sync"><i class="fa-solid fa-rotate"></i></button>
      <div class='status'></div>
      <div class='content-info'></div>
      <input type='search' placeholder='search' class='search flexible'>
      <button id='favorite'><i class="fa-regular fa-star"></i></button>
      <i class="nomargin fa-solid fa-arrow-down-wide-short"></i>
      <select>
        <option value='0'>created time (↓)</option>
        <option value='1'>created time (↑)</option>
        <option value='2'>updated time (↓)</option>
        <option value='3'>updated time (↑)</option>
        <option value='4'>prompt (a-z)</option>
        <option value='5'>prompt (z-a)</option>
      </select>
      <a class='btn' href="/help"><i class="fa-solid fa-question"></i></a>
      <a class='btn' href="/settings"><i class="fa-solid fa-gear"></i></a>
      <button id='notification' class= 'hidden'><i class="fa-solid fa-bell"></i></button>
    </nav>
    <div class='loading hidden'>
      <i class="fa-solid fa-circle-notch fa-spin"></i>
      <br><br>
      <span>loading</span>
    </div>
    <div class='container'>
      <div class='content'></div>
    </div>
    <div class='settings'></div>
    <div class='favorites'></div>
    <div class='help'></div>
    <footer class='hidden'>
      <button class='selected-count'>
        <i class="fa-regular fa-hand-pointer"></i> <span class='counter'></span> SELECTED
      </button>
      <div class='tag-menu'>
        <div class='tag-menu-items hidden'>
          <div>
            <input type='text' name='remove-tags' id='remove-tag-field' placeholder='remove tags from the selection'/>
            <button id='remove-tags'><i class="fa-regular fa-trash-can"></i> REMOVE TAGS</button>
          </div>
          <div>
            <input type='text' name='add-tags' id='add-tag-field' placeholder='add tags to the selection'/>
            <button id='save-tags'><i class="fa-solid fa-plus"></i> ADD TAG</button>
          </div>
        </div>
        <button id='tag-menu'>
          <span class='tag-menu-collapsed'>
            <i class="fa-solid fa-tag"></i> EDIT TAGS
          </span>
          <span class='tag-menu-expanded hidden'>
            <i class="fa-solid fa-angle-down"></i>
          </div>
        </button>
      </div>
      <button id='delete-selected'><i class="fa-regular fa-trash-can"></i> DELETE FILES</button>
      <div class='flexible'></div>
      <button id='cancel-selection'><i class="fa-solid fa-x"></i></button>
    </footer>
    <% if (query) { %>
    <div id='query' class='hidden' data-value="<%=query.query%>"></div>
    <% } %>
    <script>
      const VERSION = "<%=version%>"
      const SORTER = <%=current_sorter_code%>
      <% if (need_update) { %>
        var NEED_UPDATE = <%-JSON.stringify(need_update)%>
      <% } else { %>
        var NEED_UPDATE = null
      <% } %>
      var SYNC_MODE = "<%=sync_mode%>"
      var SYNC_FOLDER = "<%=sync_folder%>"
      document.querySelector("select option[value='<%=current_sorter_code%>']").setAttribute("selected", "selected")
    </script>
    <script src="./viewer.js"></script>
    <script src="./select.js"></script>
    <script src='./popper.js'></script>
    <script src='./tippy.js'></script>
    <script src='./hotkeys.js'></script>
    <script src='./tagger.js'></script>
    <script src="./nanobar.js"></script>
    <script src="./clusterize.js"></script>
    <script src="./ds.js"></script>
    <script src="./dexie.js"></script>
    <script src="./timeago.js"></script>
    <script src="./modules/selection.js"></script>
    <script src="./modules/navbar.js"></script>
    <script src="./modules/handler.js"></script>
    <script src="./modules/card.js"></script>
    <script src='./renderer.js'></script>
  </body>
</html>
